<div class="row d-flex justify-content-center text-white">
    <div class="col-12 col-md-4">
        <h4>DESDE 66 USD $</h4>
        <hr>
        <h5>RESERVA ONLINE</h5>
        <p>Mejor precio garantizado</p>
        <hr>
        <form>
            <div class="row g-3">
                <div class="col">
                    <label for="formGroupExampleInput" class="form-label">Entrada</label>
                    <input type="date" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                    <label for="formGroupExampleInput" class="form-label">Salida</label>
                    <input type="date" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
            </div>
            <div class="row g-3 mt-2">
                <div class="col">
                    <label for="formGroupExampleInput" class="form-label">Adulto(s)</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Adulto(s)</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <div class="col">
                    <label for="formGroupExampleInput" class="form-label">Niños(s)</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Adulto(s)</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-3">Ver Precios</button>
        </form>
    </div>
    <div class="col-8">

    </div>
</div>